<div id="recommend">
  <div class = "user_send_video">
    <h2>解析した動画</h2>
    <div class = "thumb">
      <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= @user_send_video %>"></script>
    </div>
    <div class = "special_words">
      <h2>この動画の特徴語</h2>
      <div>
        <% @video_tfidf.first(10).each do |word| %>
          <%= word %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "ranking">
    <h2>あなたの選んだ動画に近い動画</h2>
    <% @recommend.each_with_index do |id, i| %>
    <li class = "inner">
      <div class = "inner-title">
        <h2>第<%= i + 1%>位</h2>
      </div>
      <div class = "thumb">
        <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= id %>"></script>
      </div>
    </li>
  </div>
  <% end %>
</div>